/*
The MIT License

Copyright 2017 Sotiris Karampatakis Open Knowledge Greece.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Created on : Feb 10, 2017, 5:55:42 PM
    Author     : Sotiris Karampatakis Open Knowledge Greece
*/

body{
    overflow: hidden;
}
.demo-card-event.mdl-card {
    width: 256px;
    height: 256px;
    background: #3E4EB8;
    margin:10px auto;
}
.demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
    align-items: flex-start;
}
.demo-card-event > .mdl-card__title-text {
    align-items: null;
    margin:auto;
}
.demo-cart-event:hover{
    color:yellow!important;
}
.demo-card-event > .mdl-card__title > h4 {
    margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
    padding-right: 4px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
}
.card-icon{
    font-size: 90px;
    margin:auto;
}

.dashboard{

    margin: auto;
    max-width:80%;
}

.btn {
    margin: 10px;
}

.home{    
    margin: auto;
    max-width:80%;
}

.indicator-card{
    margin:20px auto!important;
}

.indicator-card > .mdl-card__media{
    background-color: white;
    height:150px;
}

.indicator-card > .card-content{
    height:120px;
}

.kpi-odometer{
    margin:auto;
    font-size: 60px;
    padding-right:20px;   
    position: absolute!important;
    bottom: 70px!important;
    right: 0px!important;

}

.odometer .odometer-inside:after {
    content: "€"
}

dialog {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
}

.form-button{
    position:relative;
    bottom: 20px;
    right:20px;
}

.form{
    margin:auto;
    width:80%;
}

.grey-text.text-darken-4:hover{
    color: #26a69a!important;
}

.mdl-layout__header{
    min-height: 0px!important;
}

.mdl-mini-footer{
    padding: 10px 16px;
}

.footer-logo{
    height: 50px;
}

.progress{
    margin:0px!important;
    background-color: #0fde1f!important;

}

.progress-hidden{
    visibility: hidden;
}

button{
    margin:auto!important;
}

.indigo-icon{
    font-family: "Leckerli One";
}

.page-cover{
    background: #212121;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 800;
}

.page-cover-wrapper{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 64px;
}

.cover-text{
    color: white;
    font-weight: 700;
    font-size: large;
}

.mdl-mini-footer{
    display:block!important;
}

.mdl-mini-footer.mobile{
    display:none!important;
}

.fixed-action-btn{
    bottom: 80px!important;
    display: none;
}

.mdl-card__actions.mdl-card--border{
    padding: 4px;
}

.spacer {
    flex-grow:1;
}

@media screen and (max-width: 500px) {
    .mdl-mini-footer.mobile {
        display: block!important;
    }

    .mdl-mini-footer.large-screen {
        display: none!important;
    }

}
.myTextArea {
    height: auto;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-bottom-color: rgb(8, 8, 10);
    border-bottom-left-radius: 2.8px;
    border-bottom-right-radius: 2.8px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(8, 8, 10);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(8, 8, 10);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(8, 8, 10);
    border-top-left-radius: 2.8px;
    border-top-right-radius: 2.8px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    box-sizing: border-box;
    color: rgb(19, 21, 24);
    display: block;
    font-family: Hind,"Open Sans",sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 14px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    height: 84px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1;
    outline-color: rgb(19, 21, 24);
    outline-style: none;
    outline-width: 0px;
    overflow: auto;
    overflow-wrap: break-word;
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    resize: none;
    text-align: start;
    text-shadow: none;
    text-transform: none;
    transition-delay: 0s, 0s;
    transition-duration: 0.15s, 0.15s;
    transition-property: border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out;
    white-space: pre-wrap;
    width: 840px;
    word-break: normal;
    word-spacing: 0px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

.myTextArea:focus {
    height: auto;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-left-radius: 2.8px;
    border-bottom-right-radius: 2.8px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(0, 0, 0);
    border-top-left-radius: 2.8px;
    border-top-right-radius: 2.8px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset, rgb(53, 57, 66) 0px 0px 6px 0px;
    box-sizing: border-box;
    color: rgb(19, 21, 24);
    display: block;
    font-family: Hind,"Open Sans",sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 14px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    height: 84px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1;
    outline-color: rgb(19, 21, 24);
    outline-style: none;
    outline-width: 0px;
    overflow: auto;
    overflow-wrap: break-word;
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    resize: none;
    text-align: start;
    text-shadow: none;
    text-transform: none;
    transition-delay: 0s, 0s;
    transition-duration: 0.15s, 0.15s;
    transition-property: border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out;
    white-space: pre-wrap;
    width: 840px;
    word-break: normal;
    word-spacing: 0px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}

.myLabel{
    box-sizing: border-box;
    color: rgb(88, 94, 108);
    display: inline-block;
    font-family: Hind,"Open Sans",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 5px;
    max-width: 100%;
    outline-color: rgb(88, 94, 108);
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: normal;
    text-align: start;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: 0px;
}

#textarea1 {
    height: auto;
}


#textarea2 {
    height: auto;
}